body {
    font-family: "Sono", sans-serif;
    margin: 0;
    padding: 0;
}

.pricing-container {
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    justify-content: center;
    align-content: flex-end;
    gap: 20px;
    text-align: center;
}

.pricing-container div {
}

/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
    .pricing-container {
        /* display: flex; 
        flex-wrap: wrap;    */
        flex-direction: column;
        align-items: center;
    }
}

.pricing-plan {
    display: flex;
    background-color: #f6faff;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 250px;
    border: 1px solid #cae2f9;
    border-radius: 10px;

}

.plan-title {
    font-weight: bold;
    font-size: 1em;
    font-family: "Sono", Helvetica, sans-serif;
    margin-bottom: 5px;
}

.plan-price {
    font-size: 28px;
    font-weight: 700;
    font-family: "Sono", Helvetica, sans-serif;
    margin-top: 0;  
    margin-bottom: 20px;
}

.plan-features {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0 0 0px;
    align-items: center;
    font-family: "Sono", monospace;
    margin-bottom: 40px;
    gap: 5px;
}

.plan-button {
    background-color: #3888d8;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.plan-button:hover {
    background-color: rgb(51, 117, 183);
}
